@model Materials_Info.ViewModels.RawMaterialVM

@{
    ViewData["Title"] = "MaterialUpdate";
}

<h2>Update Materials</h2>

<div class="row">

    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Update form elements</h4>

                <form class="forms-sample" asp-action="MaterialUpdate" asp-controller="Material" method="post">
                    <div class="form-group">
                        <label asp-for="MaterialName">MaterialName</label>
                        <input type="text" class="form-control" asp-for="MaterialName" placeholder="MaterialName">
                    </div>
                    <div class="form-group">
                        <label asp-for="Unit">Unit</label>
                        <input type="text" class="form-control" asp-for="Unit" placeholder="Unit">
                    </div>
                    <div class="form-group">
                        <label asp-for="Quantity">Quantity</label>
                        <input type="text" class="form-control" asp-for="Quantity" placeholder="Quantity">
                    </div>

                    <button type="submit" class="btn btn-primary mr-2" value="save" asp-action="MaterialUpdate">Update Material</button>
                    <button class="btn btn-dark" asp-action="Materials">Back to List</button>
                    <div>
                        <br />
                        <span>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        </span>

                    </div>


                </form>

            </div>
        </div>
    </div>

@* @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
} *@
